
<div class="panel panel-success center">
   <div class="panel-heading">
    <h1>REGISTRADO</h1>
    <br>
  	<p>
  		<strong>Name:</strong>
  		<%= @register.name %>
	</p>
	<p>
	  <strong>Email:</strong>
  	  <%= @register.email %>
	</p>



</div>  



