

<!DOCTYPE html>
<html lang="en">
<head>

</head>
<body>

<div class="container">
  
             
  <table class="table">
    
    <tbody>
      <tr class="success">
        <td>
          <img width="300" height="300" src=<%=asset_path "a17f1.JPG" %>>
         
        </td>
        <td>
          
          <img width="300" height="300" src=<%=asset_path "a17f2.JPG" %>>
         


        </td>
       
       
       
       
      </tr>
     
    </tbody>
  </table>
</div>

</body>
</html>
