
<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html dir="ltr" xmlns="http://www.w3.org/1999/xhtml" lang="en-gb">

<head>
<script>var SITE_URL = 'http://wowslider.com/';</script>

<link rel="stylesheet" href="http://wowslider.com/styles/mainstyle.css" type="text/css" media="screen">


<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<title>Bootstrap Carousel - Bootstrap Carousel Sample</title>
<meta name="description" content="WOWSlider Slideshow Creator is the easy-to-use software which saves a lot of your time and allows you to create professional slideshows in a few clicks! Bootstrap carousel." />

<meta name="viewport" content="width=device-width, user-scalable=no">
<link rel="shortcut icon" href="http://wowslider.com/favicon.ico" />

<script type="text/javascript" src="http://wowslider.com/images/demo/jquery.js"></script>
<script type="text/javascript" src="http://wowslider.com/styles/a.js"></script>
<script type="text/javascript">

var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-25854704-1']);
_gaq.push(['_setDomainName', '.wowslider.com']);
_gaq.push(['_setAllowLinker', true]);
_gaq.push(['_setAllowHash', false]);
if(document.cookie.match("(^|;\\s)__utma") && !/utmcsr=\(direct\)/.test(unescape(document.cookie))) {
    _gaq.push(
      ['_setReferrerOverride', ''],
      ['_setCampNameKey', 'aaan'], 
      ['_setCampMediumKey', 'aaam'], 
      ['_setCampSourceKey', 'aaas'], 
      ['_setCampTermKey', 'aaat'], 
      ['_setCampContentKey', 'aaac'], 
      ['_setCampCIdKey', 'aaaci']
    )
}

_gaq.push(['_trackPageview']);  

(function() {
var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();

</script>

<!-- WOW Visits -->
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 1071863997;
var google_conversion_language = "en";
var google_conversion_format = "3";
var google_conversion_color = "ffffff";
var google_conversion_label = "YwhdCOff5AIQvbGN_wM";
var google_conversion_value = 0;
/* ]]> */
</script>
<script type="text/javascript" src="http://www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="http://www.googleadservices.com/pagead/conversion/1071863997/?label=YwhdCOff5AIQvbGN_wM&amp;guid=ON&amp;script=0"/>
</div>
</noscript>


</head>


<body>


<div class="container">







<div>
        <!-- Start WOWSlider.com BODY section -->
        <link rel="stylesheet" type="text/css" href="http://wowslider.com/sliders/demo-80/engine1/style.css" />

<div id="wowslider-container1">
<div class="ws_images"><ul>
	<li><img src=<%=asset_path "evento1.jpg" %>/>Bird feather with dew drops.</li>
	<li><img src=<%=asset_path "evento4.jpg" %>/>Because dew is related to the temperature of surfaces, in late summer it forms most easily on surfaces that are not warmed by conducted heat from deep ground, such as grass, leaves, railings, car roofs, and bridges.</li>
	<li><img src=<%=asset_path "evento2.jpg" %>/>Dew is water in the form of droplets that appears on thin, exposed objects in the morning or evening due to condensation. </li>
</ul></div>

<div class="ws_bullets"><div>
	<!-- <a href="#" title="Plumage"><img src="http://wowslider.com/sliders/demo-80/data1/tooltips/plumage176723_1920.jpg" alt="Plumage"/>Image zoom effect thumbnail plugin</a>
	<a href="#" title="Sheet"><img src="http://wowslider.com/sliders/demo-80/data1/tooltips/nature497978_1920.jpg" alt="Sheet"/>Page free download on website</a>
	<a href="#" title="Black and White Sheet"><img src="http://wowslider.com/sliders/demo-80/data1/tooltips/sheet546475_1920.jpg" alt="Black and White Sheet"/>Photo tutorial simple with controls</a>
 --></div></div>
<div class="ws_shadow"></div>
</div>

<script type="text/javascript" src="http://wowslider.com/images/demo/wowslider.js"></script>
<script type="text/javascript" src="http://wowslider.com/sliders/demo-80/engine1/script.js"></script>        <!-- End WOWSlider.com BODY section -->
<br />
</div>
    



</div><!-- end of .container -->



</body></html>