

<!DOCTYPE html>
<html lang="en">
<head>

</head>
<body>

<div class="container">
  
             
  <table class="table">
    
    <tbody>

      <tr class="success">
        <td>
          <a href="">Fabricación de maletas, bolsos de mano y artículos similares, y de artículos de talabartería y guarnicionería</a>
        </td>
        
      </tr>
      <tr class="info">
        <td>
          <a href="">Fabricación de calzado</a>
        </td>

     <tr class="success">
        <td>
          <a href="">Aserrado y acepilladura de madera</a>
        </td>
        
      </tr>
      <tr class="info">
        <td>
          <a href="">Fabricación de partes y piezas de carpintería para edificios y construcciones</a>
        </td>
        

        <tr class="success">
        <td>
          <a href="">Fabricación de papel y cartón ondulado y de envases de papel y cartón</a>
        </td>
        
      </tr>
      <tr class="info">
        <td>
          <a href="">Fabricación de otros artículos de papel y cartón</a>
        </td>
        
       
      </tr>              
            <tr class="success">
        <td>
          <a href="">Fabricación de productos de la refinación del petróleo</a>
        </td>
        
      </tr>
      <tr class="info">
        <td>
          <a href="">Fabricación de sustancias químicas básicas</a>
        </td>
        
       
      </tr>
            <tr class="success">
        <td>
          <a href="">Fabricación de abonos y compuestos de nitrógeno; fabricación de plaguicidas y otros productos químicos de uso agropecuario</a>
        </td>
        
      </tr>
      <tr class="info">
        <td>
          <a href="">Fabricación de pasta de madera, papel y cartón</a>
        </td>
        
       
      </tr>

      <tr class="success">
        <td>
          <a href="">Elaboración y conservación de carne</a>
        </td>
        
      </tr>
      <tr class="info">
        <td>
          <a href="">Elaboración y conservación de frutas, legumbres y hortalizas</a>
        </td>
        
       
      </tr>
      <tr class="success">
        <td>
         <a href="">Elaboración de aceites y grasas de origen vegetal y animal</a>
        </td>
        
      </tr>
      <tr class="info">
        <td>
         <a href=""> Elaboración de productos lácteos</a>
        </td>
        
       
      </tr>
      <tr class="success">
        <td>
         <a href="">Elaboración de productos de molinería</a>
        </td>
        
      </tr>
      <tr class="info">
        <td>
         <a href="">Elaboración de productos de panadería</a>
        </td>
        
       
      </tr>
       <tr class="success">
        <td>
        <a href="">Elaboración de azúcar</a>
        </td>
        
      </tr>
      <tr class="info">
        <td>
         <a href="">Elaboración de cacao y chocolate y de productos de confitería</a>
        </td>
        
       
      </tr>
          <tr class="success">
        <td>
        <a href="">Elaboración de macarrones, fideos, alcuzcuz y productos farináceos similares</a>
        </td>
        
      </tr>
      <tr class="info">
        <td>
         <a href="">Elaboración de otros productos alimenticios n.c.p.</a>
        </td>
        
       
      </tr>
           <tr class="success">
        <td>
        <a href="">Elaboración de piensos preparados para animales</a>
        </td>
        
      </tr>
      <tr class="info">
        <td>
        <a href=""> Destilación, rectificación y mezcla de bebidas alcohólicas</a>
        </td>
        
       
      </tr>
           <tr class="success">
        <td>
        <a href="">Elaboración de vinos</a>
        </td>
        
      </tr>
      <tr class="info">
        <td>
         <a href="">Elaboración de bebidas malteadas y de malta</a>
        </td>
        
       
      </tr>
         <tr class="success">
        <td>
        <a href="">Elaboración de bebidas no alcohólicas; producción de aguas minerales, otras aguas embotelladas.</a>
        </td>
        
      </tr>
      <tr class="info">
        <td>
        <a href=""> Elaboración de productos de tabaco</a>
        </td>
        
       
      </tr>
          <tr class="success">
        <td>
        <a href="">Preparación e hilatura de fibras textiles</a>
        </td>
        
      </tr>
      <tr class="info">
        <td>
         <a href="">Tejedura de productos textiles</a>
        </td>
        
       
      </tr>
           <tr class="success">
        <td>
        <a href="">Fabricación de artículos confeccionados de materiales textiles, excepto prendas de vestir</a>
        </td>
        
      </tr>
      <tr class="info">
        <td>
        <a href=""> Fabricación de otros productos textiles n.c.p.</a>
        </td>
        
       
      </tr>
        <tr class="success">
        <td>
        <a href="">Fabricación de prendas de vestir, excepto prendas de piel</a>
        </td>
        
      </tr>
      <tr class="info">
        <td>
         <a href="">Fabricación de artículos de punto y ganchillo</a>
        </td>
        
       
      </tr>
        
        <tr class="success">
        <td>
       <a href="">Curtido y adobo de cueros; adobo y teñido de pieles</a>
        </td>
        
      </tr>
      <tr class="info">
        <td>
         <a href="">Fabricación de maletas, bolsos de mano y artículos similares, y de artículos de talabartería y guarnicionería</a>
        </td>
        
       
      </tr>
        <tr class="success">
        <td>
       <a href="">Fabricación de calzado</a>
        </td>
        
      </tr>
      <tr class="info">
        <td>
         <a href="">Aserrado y acepilladura de madera</a>
        </td>
        
       
      </tr>
        <tr class="success">
        <td>
       <a href="">Fabricación de hojas de madera para enchapado y tableros a base de madera</a>
        </td>
        
      </tr>
      <tr class="info">
        <td>
         <a href="">Fabricación de partes y piezas de carpintería para edificios y construcciones</a>
        </td>
        
       
      </tr> 
        <tr class="success">
        <td>
       <a href="">Fabricación de pasta de madera, papel y cartón</a>
        </td>
        
      </tr>
      <tr class="info">
        <td>
         <a href="">Fabricación de papel y cartón ondulado y de envases de papel y cartón</a>
        </td>
        
       
      </tr> 
       <tr class="success">
        <td>
       <a href="">Fabricación de otros artículos de papel y cartón</a>
        </td>
        
      </tr>
      <tr class="info">
        <td>
        <a href=""> Impresión</a>
        </td>
        
       
      </tr> 
        <tr class="success">
        <td>
      <a href="">Fabricación de productos de la refinación del petróleo</a>
        </td>
        
      </tr>
      <tr class="info">
        <td>
         <a href="">Fabricación de sustancias químicas básicas</a>
        </td>
        
       
      </tr>  
         <tr class="success">
        <td>
      <a href="">Fabricación de abonos y compuestos de nitrógeno; fabricación de plaguicidas y otros productos químicos de uso agropecuario</a>
        </td>
        
      </tr>
      <tr class="info">
        <td>
        <a href=""> Fabricación de pinturas, barnices y productos de revestimiento similares, tintas de imprenta y masillas</a>
        </td>
        
       
      </tr>  
          <tr class="success">
        <td>
      <a href="">Fabricación de jabones y detergentes, preparados para limpiar y pulir, perfumes y preparados de tocador</a>
        </td>
        
      </tr>
      <tr class="info">
        <td>
         <a href="">Fabricación de otros productos químicos n.c.p.</a>
        </td>
        
       
      </tr>  
          <tr class="success">
        <td>
     <a href="">Fabricación de productos farmacéuticos, sustancias químicas medicinales y productos botánicos de uso farmacéutico</a>
        </td>
        
      </tr>
      <tr class="info">
        <td>
        <a href=""> Fabricación de cubiertas y cámaras de caucho; recauchutado y renovación de cubiertas de caucho</a>
        </td>
        
       
      </tr> 
      <tr class="success">
        <td>
     <a href="">fabricación de otros productos de caucho</a>
        </td>
        
      </tr>
      <tr class="info">
        <td>
         <a href="">Fabricación de productos de plástico</a>
        </td>
        
       
      </tr> 
        <tr class="success">
        <td>
     <a href="">Fabricación de vidrio y productos de vidrio</a>
        </td>
        
      </tr>
      <tr class="info">
        <td>
         <a href="">Fabricación de materiales de construcción de arcilla</a>
        </td>
        
       
      </tr>
         <tr class="success">
        <td>
     <a href="">Fabricación de cemento, cal y yeso</a>
        </td>
        
      </tr>
      <tr class="info">
        <td>
        <a href=""> Fabricación de artículos de hormigón, cemento y yeso; corte, talla y acabado de la piedra</a>
        </td>
        
       
      </tr>
          <tr class="success">
        <td>
     <a href="">Industrias básicas de hierro y acero</a>
        </td>
        
      </tr>
      <tr class="info">
        <td>
        <a href=""> Fabricación de productos primarios de metales preciosos y otros metales no ferrosos</a>
        </td>
        
       
      </tr>
   <tr class="success">
        <td>
     <a href="">Fabricación de productos metálicos para uso estructural</a>
        </td>
        
      </tr>
      <tr class="info">
        <td>
        <a href=""> Fabricación de tanques, depósitos y recipientes de metal; fabricación de generadores de vapor, excepto calderas de agua caliente para calefacción central; fabricación de artículos de cuchillería, herramientas de mano y artículos de ferretería</a>
        </td>
        
       
      </tr>
      <tr class="success">
        <td>
   <a href="">Fabricación de otros productos elaborados de metal n.c.p.</a>
        </td>
        
      </tr>
      <tr class="info">
        <td>
         <a href="">Fabricación de pilas, baterías y acumuladores; fabricación de otros hilos y cables eléctricos</a>
        </td>
        
       
      </tr>
<tr class="success">
        <td>
  <a href="">Fabricación de equipo eléctrico de iluminación</a>
        </td>
        
      </tr>
      <tr class="info">
        <td>
  <a href=""> Fabricación de maquinaria y equipo n.c.p.</a>
        </td>
        
       
      </tr>
      <tr class="success">
        <td>
  <a href="">Fabricación de vehículos automotores, remolques y semirremolques</a>
        </td>
        
      </tr>
      <tr class="info">
        <td>
   <a href="">Fabricación de muebles</a>
        </td>
        
       
      </tr>
<tr class="success">
        <td>
 <a href=""> Fabricación de joyas y artículos conexos</a>
        </td>
        
      </tr>
      <tr class="info">
        <td>
   <a href="">Fabricación de instrumentos y materiales médicos y odontológicos;
otras industrias manufactureras n.c.p.</a>

        </td>
        
       
      </tr>
      <tr class="success">
        <td>
 <a href="">Reparación de maquinaria</a>
        </td>
        
      </tr>

    </tbody>
  </table>
</div>

</body>
</html>
