

<!DOCTYPE html>
<html lang="en">
<head>

</head>
<body>

<div class="container">
<!--   <b><h2>Voluntariado</h2></b> -->
             
  <table class="table">
    
    <tbody>
        <tr class="info">
         <td>
          <img />
        </td>
        <td>
          
          <br> 
          Nombre: 
        <br> 
          Apellido: 
            


        </td>
        
        
       
      </tr>
       <tr class="success">
         
       <td>
          <img />
        </td>
        <td>
          
          <br> 
          Nombre: 
        <br> 
          Apellido: 
            


        </td> 
       
      </tr>

         <tr class="info">
        
        <td>
          <img />
        </td>
        <td>
          
          <br> 
          Nombre: 
        <br> 
          Apellido: 
            


        </td>
       
       
      </tr>
      
       <tr class="success">
         
         
        
       
      </tr>
      
      <tr class="info">
        
       
      </tr>
      <tr class="success">
      
       
      </tr>
      <tr class="info">
       
        
       
      </tr>
       
    
      
        
    
        
      
    </tbody>
  </table>
</div>

</body>
</html>
